# Instal librarry Google Play Scrapper

In [ ]:
!pip install google-play-scraper

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting google-play-scraper
  Downloading google_play_scraper-1.2.3-py3-none-any.whl (28 kB)
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.2.3

# Import Libraries

In [ ]:
from google_play_scraper import app, Sort, reviews_all
from datetime import date

import pandas as pd
import numpy as np

# Connect to Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# Get Reviews from Detik.com Application on Goole Play Store

In [ ]:
reviews = reviews_all(
    'org.detikcom.rss',
    sleep_milliseconds=0,
    lang='id',
    country='id',
    sort=Sort.NEWEST
)

In [ ]:
len(reviews)

65186

In [ ]:
reviews_en = reviews_all(
    'org.detikcom.rss',
    sleep_milliseconds=0,
    lang='en',
    country='id',
    sort=Sort.NEWEST
)

In [ ]:
len(reviews_en)

24244

# Collected Data

In [ ]:
df_reviews = pd.DataFrame(np.array(reviews), columns=['reviews'])
df_reviews = df_reviews.join(pd.DataFrame(df_reviews.pop('reviews').tolist()))
dataset = df_reviews[['reviewId', 'userName', 'content']]
dataset.head()

,reviewId,userName,content
0,bd76e50b-5a22-409f-bb9f-9cf864017fc0,Alamul Alamul,Berita baik
1,0a2451d6-8e24-4091-afcb-67fce5f5bff2,Cucuk Furianto,Mantap
2,0024b8b7-3276-41d9-8358-cae72b57ad4f,Benny Wicaksono,Selalu yg terdepan dan terupdate di Indonesia....
3,6aeef148-f45f-498d-a2c0-5a4554193ccd,Admin Sadulur,Siplaj
4,c1f3004f-3e89-4902-b9c8-8923f957d6c2,Aji Brewok,"Mantap,. Berita nya lugas dan detil"

In [ ]:
dataset.tail()

,reviewId,userName,content
65181,76b36ab5-d090-4197-bed9-129b040ffe66,Pengguna Google,Good
65182,a87fe15e-0e07-42b3-a7a0-d1bf700ea285,Pengguna Google,Very good .....try it
65183,46e36186-b5ac-45dd-908c-2ba2a7b3e412,Pengguna Google,manteeeeeeep...
65184,e4d181bf-0ef5-450a-a146-561b577b996b,Pengguna Google,"Fitur Widget Widgetnya dikembanging lagi donk,..."
65185,11f96544-a5c7-4620-a0e0-74916df21506,Pengguna Google,Thx detik..

# Export to CSV

In [ ]:
file_name = f'/content/gdrive/MyDrive/Kuliah/Semester 7/AI/UAS/Dataset/raw-detikcom-reviews-{date.today()}-v2.csv'
dataset.to_csv(file_name)